@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (max-width: 425px) {
  .container {
    padding-right: 0.2rem;
    padding-left: 0.2rem;
  }
}

body::-webkit-scrollbar {
  display: none;
}

.words {
  position: relative;
  white-space: nowrap; /* Prevent line breaks */
  animation: move-words 30s linear infinite;
  margin: 0;
}

@keyframes move-words {
  0% {
    left: 70%;
  }
  100% {
    left: -100%;
  }
}

.card-background {
  background-color: rgb(243 244 246 / 60%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
